[Desktop Entry]
Type=Application
Name=Jolla Fr
Icon=/usr/share/wordpress-viewer/icons/jollafr.png
Exec=invoker --type=e -s /usr/bin/wordpress-viewer-jollafr
Comment=Jolla Fr blog viewer
