[Desktop Entry]
Type=Application
Name=Unleash the phones
Icon=/usr/share/wordpress-viewer/icons/utp.png
Exec=invoker --type=e /usr/bin/wordpress-viewer-utp
Comment=Unleash the phones blog
